<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ role }}</h6>
      <ul>
        <li>
          <p class="card-text">ID: {{ id }}</p>
        </li>
        <li>
          <a href="https://github.com/{{ github }}" class="card-link">Github: {{ github }}</a>
        </li>
        <li>
          <a href="mailto:{{ email }}" class="card-link">Email: {{ email }}</a>
        </li>
      </ul>
      
    </div>
  </div>
